<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcl.imooc.miaosha.order.mapper.SequenceInfoMapper">

    <select id="selectByName" resultType="com.tcl.imooc.miaosha.order.entity.SequenceInfo">
        select name, current_value, step
        from sequence_info
        where name = #{name} for update;
    </select>
</mapper>
